<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <services>
      <service
           name="NorthwindServices.CustomerService"
           behaviorConfiguration="ServiceBehavior">

        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/NorthwindServices/" />
          </baseAddresses>
        </host>

        <endpoint address="CustomerService"
                  binding="netNamedPipeBinding"
                  contract="NorthwindServices.ICustomer" />

        <endpoint address="CustomerService/mex"
                  binding="mexNamedPipeBinding"
                  contract="IMetadataExchange" />

      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>